<nav class="navbar navbar-expand-lg">
  <div class="container py-2">
    <a class="navbar-brand" routerLink="/">│ BLØØD │ DEATH METAL CO │</a>
    <button class="navbar-toggler" type="button"
      data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/"
             routerLinkActive="active"
             [routerLinkActiveOptions]="{exact: true}">INICIO</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/biografia"
             routerLinkActive="active">BIOGRAFIA</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/discografia"
             routerLinkActive="active">DISCOGRAFIA</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/merch"
             routerLinkActive="active">MERCH</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/galeria"
             routerLinkActive="active">GALERÍA</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contacto"
             routerLinkActive="active">CONTACTO</a>
        </li>
      </ul>
    </div>
  </div>
</nav>